body {
    width: 300px;
    min-height: 200px;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

#sb-app {
    width : 300px;
    background-color : #fff;
//  border : 1px solid #aaa;
    z-index: 99999999999999999;
    text-align : left;
    display:none;
}

#sb-error {
    margin : 10px 0px;
    display:none;
}

.sb-service {
    padding: 10px;
}

#sb-title { 
    padding: 10px;
    margin-top: 8px;
    border-bottom : 1px solid #000;
    margin-left : 10px;
    margin-right: 10px;
    padding-top: 1rem;
}

#sb-track { 
    margin-left : 10px;
    font-size : 14px;
    padding-top: 10px;
    margin-right : 10px;
}

#sb-close {
    float : right;
    padding: 8px;
    padding-right : 6px;
    cursor: pointer;
}

#sb-logo { 
    float : left;
    padding : 8px;
    padding-left : 10px;
    margin-right : 4px;
}

#sb-time { 
    font-size : 14px;
}

#sb-display-bar { 
    width : 100%;
    cursor : pointer; 
    height : 10px;
    background-color : #000;
    display : none;
}

#sb-display-bar-elapsed {
    width : 0%; 
    height : 8px;
    background-color : #aaa;
}

.sb-label {
    font-size : 14px;
    //font-size : 12px;
    margin-top : 10px; 
    color: #a2a2a2;
}

#sb-track-title { font-size : 18px; }
#sb-track-artist { font-size : 14px; }

#sb-display-seek {
    position : relative;
    top : -8px;
    width : 2px; 
    height : 10px;
    background-color : #eee111;
    display : none
}

#sb-submit {
    width : 100%;;
    margin-top : 20px
}

#sb-submit-button { 
    background: #0066cc;
    color : white;
    padding: 10px;
    margin: 10px;
    text-align : center;
    font-size: 14px;
    cursor : pointer;
}
