/* Track info/data*/
h4, h6 { display:inline-block;}
.track-title, .track-artist, .track-notes{
    width: 90%;
}
.track-title, .track-artist {

    .text {
	margin-top:0;
	margin-bottom:0;
	overflow:hidden;

	max-height: 25px;

	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	@media #{$medium-up} {
	    max-height: 35px;
	}
    }

    h4 > a { color: $header-font-color;
	     &:hover { color: $anchor-font-color-hover;}}
    h6 > a { color: $subheader-font-color;
	     &:hover { color: $anchor-font-color-hover;}}
}
/*track genre*/
.genre { 
    display:inline;
}

/*track date*/
.track-date {
    position:absolute;
    right: 1.2rem;
    
    font-size: .75rem;
    color: #6f6f6f;

    display:none;
    @media #{$medium-up} {
	display:block;
    }
}

/*track comments*/
.track-notes {

    font-size: .75rem;
    
    i { 
	font-size: 1.25rem; 
	padding-top: .25rem;
	padding-right: .5rem;
	float:left;
	color: #2980b9;
    }

    p {
	font-family: 'helvetica-neue', 'georgia', 'open-sans';
	font-size: .85rem;
	padding-top: .15rem;
	color: lighten(#000, 10%);
	margin-bottom: 0;
    }

    padding-top:.5rem;

    @media #{$medium-up} {
	padding-top: 0rem;
    }

    @media #{$large-up} {
	padding-top: 1.5rem;
    }
}
