
/* 
 * Controls & Mask 
 */

$control-small-width: 4rem;
$control-medium-width: 4.25rem;
$control-large-width: 6rem;

.track-controls {
    float:left;
    margin-left:0;
    margin-bottom:0;
    display:inline;
    list-style-type:none;
    padding-left: .25rem;
    width: 100%;

    li, li a { 
	float:left;
	display: inline;
	margin-right: 1rem;  	
	color: lighten(#6f6f6f, 20%);

	&:hover {
	    color: #3498db;
	    cursor:pointer;
	}

	@media #{$large-up} { margin-right: 0rem;}

	a { color: #a2a2a2; }
    }

        
    i { 
	float:left;
	font-style:normal;
	font-size: 18px;
    }

    span {
	float:left;
	padding-left: .5rem;
	padding-top: .45rem;
	font-size: 12px;
	width: $control-small-width;

	@media #{$medium-up} {
	    width: $control-medium-width;
	}

	@media #{$large-up} {
	    width: $control-large-width;
	}

    }
    .play {
	height: 100%;
    }    
}

.track-attribution {
    float: right;
    padding-top: .25rem;
    width: 100%;
    padding-bottom: .25rem;

    @media #{$large-up} {
	width: 300px;
    }

    a.service { float:right;}
}

.external.fi-link {
    float:right;
    color: #2980b9;
    margin-right: 16px;
}

.track-plays {
    float: left;
    width: 60px;
    margin-top: 3px;

    font-size: 0.9rem;
    color: #a2a2a2;

    .fi-play {
	margin-top: 1px;
	margin-right: 6px;
	font-size: .8rem;
    }
    .num-plays {

    }
}

.track-report {
    @extend .track-plays;
    margin-top: 5px;
    font-size: 0.75rem;
    width: 120px;

    a { 
	color: #a2a2a2;
	&:hover {
	    color: #3498db;
	}
    }

    .report {
	cursor: pointer;
    }

    .options {
	display:none;
    }
}

#link-modal-content {
    font-family: 'lato', 'helvetica neue', 'georgia', 'open-sans';
    word-wrap:break-word;
    resize: none;
    height: 100px;
    overflow:hidden;
}