
/* 
 * Controls & Mask 
 */

$control-small-width: 4rem;
$control-medium-width: 4.25rem;
$control-large-width: 6rem;

.track-controls {
    float:left;
    margin-left:0;
    margin-bottom:0;
    display:inline;
    list-style-type:none;
    padding-left: .25rem;

    li { 
	float:left;
	display: inline;
	margin-right: 1rem;  	
	color: lighten(#6f6f6f, 20%);

	&:hover {
	    color: #3498db;
	    cursor:pointer;
	}

	@media #{$medium-up} { margin-right: 1.25rem;}
    }
        
    i { 
	float:left;
	font-style:normal;
	font-size: 18px;
	//margin-top:.2rem;
    }
    span {
	float:left;
	padding-left: .5rem;
	padding-top: .45rem;
	font-size: 12px;
	width: $control-small-width;

	@media #{$medium-up} {
	    width: $control-medium-width;
	}

	@media #{$large-up} {
	    width: $control-large-width;
	}

    }
    .play {
	height: 100%;
    }
}



