$form-input-width: 200px;
$label-prefix-width: 42px;
$sign-in-width: $form-input-width + $label-prefix-width;
$medium-up-addition: 100px;

$input-height: 2.3125rem;

#password-reset, #forgot-user, #sign-in, #sign-up, #edit-user {
    font-family: 'lato', 'open sans', 'helvetica neue', 'georgia';

    margin: 4rem auto;
    display: block;
    width: $sign-in-width;

    @media #{$medium-up} {
	width: $sign-in-width + $medium-up-addition;
    }

    .medium {
	font-size: 26px;
	padding: 0 5px;
    }

    .forgotpassword, .haveaccount {
	font-size: 14px;
	float:right;
	margin-bottom: 2rem;
    }

    .needaccount, .cancel {
	margin-top: 2rem;
	text-align:center; 
    }

    /*error form*/
    small {
	padding: .3625rem 0.5625rem .3625rem 0.5625rem;
	margin-top: -1rem;
    }
}

small.error {
    background: none;
    color:orangered;
    font-size: .85rem;
}

.error_email, .error_password, .error_password_confirmation {
    color:orangered;
    display:none;
}

/*error*/
.errormessage {
    text-align:center;
    font-size: 16px;
    color:orangered;
}


#sign-up-link, #cancel-account-button {
    padding: 8px 0 8px 0;
    background: #f2f2f2;
    color: #222;
    border: 1px solid #d8d8d8;

    &:hover {
	background: darken(#f2f2f2, 10%);
    }
}

/*form input widths*/
.input-submit {
    margin-top: 1rem;
    padding: 8px 0 8px 0;
}

.input-label-prefix {
    position:relative;
    float:left;
    width: $label-prefix-width;
}

.input-text-post {
    position:relative;
    float:left;
    width: $form-input-width;

    @media #{$medium-up} {
	width: $form-input-width + $medium-up-addition;
    }
}

