/*Layout --mobile first*/
$sidebar-bg-color: #11171c;
$sidebar-width: 140px;
header {
    @media #{$medium-up} {
	margin-left: 1.25rem;
    }
}
nav {
    width: 100%;
    height: auto;

    position:fixed !important;
    top:0;
    left:0;

    display:inline;
    z-index:100;

    background: $sidebar-bg-color;
    color: white;
    
    a { float: left;}
    a.menu-icon{
	float:right;
	span {
	    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
	}
    }

    li { display:block;}
    ul { 
	display:none; 
	clear:both;
	float:left; 
	list-style:none;
	li:hover {
	    background-color: lighten($sidebar-bg-color, 10%);
	    color: #fff;
	}

    }

    /*on hamburger toggle (via js) */
    ul.mobile {
	display:inline !important;
    }


    /*navbar to sidebar adjust*/
    @media #{$medium-up} {
	width: $sidebar-width;
	height: 100%;
	display:block;

	a {display:block;}
	a.menu-icon { display : none;}
	ul {display:block;}
	li {display:block;}

    }

}


#content {

    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 4rem;
    overflow:auto;

    @media #{$medium-up} {
	margin-top: 0;
	margin-left: $sidebar-width;
    }

}

hr { margin: 0}
/* 
 *  fix for topbar zombie padding 
 * case; when loaded in zoom, and then zoomed out
 * shoudn't be a problem for mobile but looks funky on desktop

@media #{$small-up} {
    body.f-topbar-fixed {
        padding-top: 0px !important;
    }
}

@media #{$small-only} {
    body.f-topbar-fixed {
        padding-top: $topbar-height !important;
    }
}
 */