/*Layout --mobile first*/
$sidebar-bg-color: #191818; //#11171c;
$sidebar-color: #666666 ;//#fff;//#666666;

$sidebar-width: 140px;

$logo-bg-color: white;

header {
    @media #{$medium-up} {
	margin-left: 1.25rem;
    }
}

nav {
    width: 100%;
    height: auto;

    position:fixed !important;
    top:0;
    left:0;
    display:inline;
    z-index:100;

    background: $sidebar-bg-color;
    color: $sidebar-color;
    font-family: 'lato', 'helvetica neue', 'georgia';

    i {
	padding-right: 1rem;
	color: lighten($sidebar-color, 40%);
    }

    ul.navigation { 
	display:none; 
	clear:both;
	float:left; 
	list-style:none;
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
	cursor:pointer;

	li:hover, .active {
	    background-color: lighten($sidebar-bg-color, 10%);
	    color: #fff;
	    i { color: #fff;}
	}

    }

    .navigation > li { 
	display:block;
	padding: .5rem 0 .5rem 1.1rem;
    }

    /*mobile*/
    /*logo-left*/
    .logo {
	float: left;
	height: 2.8rem;
	background-color: sidebar-bg-color;
    }
    #profile {
	margin-top:0.3rem;
    }
    #email {
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: .5rem;
    }


    /*menu right*/
    a.menu-icon{
	float:right;
	span {
	    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
	}
    }


    /*on hamburger toggle (via js) */
    ul.mobile {
	display:inline !important;
    }


    /*SIDEBAR (adjusted navbar)*/
    @media #{$medium-up} {
	width: $sidebar-width;
	height: 100%;
	display:block;

	/*logo*/
	.logo {
	    display:block;
	    width: 100%;
	    height: 4.5rem;
	    background-color: $logo-bg-color;
	}

	#profile {
	    padding-left: .5rem;
	    padding-right: 1rem;
	}

	#email {
	    margin-top: 6rem;
	    margin-bottom:1rem;
	}

	/*menu*/
	#navigation-wrap {
	    clear:both;
	}
	a.menu-icon { display : none;}

	ul.navigation {
	    display:block;
	    margin-left: 0;
	}
	.navigation > li {
	    display:block;
	    width: $sidebar-width;
	    padding-left: 1.1rem;
	}

    }

}

$content-padding-side: 1.25rem;

#content {
    padding-left: $content-padding-side;
    padding-right: $content-padding-side;
    padding-bottom: 18rem;
    margin-top: 4rem;
    overflow:auto;

    @media #{$medium-up} {
	margin-top: 0;
	margin-left: $sidebar-width;
    }
}

#content.noside {
    margin-left: 0;
    margin-top: 0;
    @media #{$medium-up} {
	margin-top: 0;
	margin-left: 0;
    }
}

#options {
    clear:both;
}

hr { margin: 0}
/* 
 *  fix for topbar zombie padding 
 * case; when loaded in zoom, and then zoomed out
 * shoudn't be a problem for mobile but looks funky on desktop

@media #{$small-up} {
    body.f-topbar-fixed {
	padding-top: 0px !important;
    }
}

@media #{$small-only} {
    body.f-topbar-fixed {
	padding-top: $topbar-height !important;
    }
}
*/