/*navbar*/
$sidebar-bg-color: #11171c;
#sidebar {
    background-color: $sidebar-bg-color; //#446CB3;
    color: darken(#fff, 20%);
    height: 100%;
}
#content {
    background-color:#fff;
}
.side-nav > li {
    font-size: 1rem;
    padding: 1rem 6rem;
    margin-left: -6rem;

    &:hover {
	background-color: lighten($sidebar-bg-color, 10%);
	color: #fff;
    }


}

.active-nav {
    //background-color: #1c242b;
}