ul.navigation {
    /*base is wrench - fi-french.width() == 14*/
    .fi-music, .fi-sound, .fi-plus, .fi-music { margin-right: 1px }
    .fi-list-thumbnails, .fi-like, .fi-torso { margin-right: 3px }
    .route { background-color: #007FDB }

    #search-form {
	&:hover {
	    background-color: #007fff;
	}

    }

    i.fi-magnifying-glass {
	padding-left: 2.1rem;
    }

    #search-query {
	float:left;
	width: 100%;
	background: transparent;
	padding: 0;
	padding-left:4.1rem;
	margin-top:-2.1rem;
	height:40px;
	border: none;
	color:white;
	font-size: 16px;
	font-weight: 300;
	font-family: 'lato';
	&:hover {
	    background-color: #007fff;
	}

	&:active, &:focus {
	    outline:none;
	    color:white;
	}
    }


    li#search {
	//float: left;
	padding: .5rem 0;
	color:#fff;
	font-size: 16px;

	&:hover {
	    background:#007fff;
	}

	@media #{$small-only} {
	    display:none;
	}
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
	color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #fff;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #fff;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #fff;
    }
}

/*
 *mobile search bar
 */
#mobile-search-form {
    float:right;
    width: 80px;
    min-width: 80px;
    i {
	float:right;
	margin: -1.8rem -.5rem 0 0;
	color: white;
	font-size: 1rem;
	cursor:pointer;
    }

    margin-right: 1rem;

    @media only screen and (max-width: 360px) { 
	float:left;
	margin-right: 0;
    }

    @media #{$medium-up} {
	display:none;
    }
}

#mobile-search-query {
    float:right;
    width: 11rem;
    font-size: 1rem;
    font-family: 'lato';
    color:white;
    background: #0066AE;
    height: 45px;
    padding: 4px 4px 4px 1rem;
    border:none;

    &:active, &:focus {
	outline:none;
	color:white;
    }
    
}
#mobile-search-query::-webkit-input-placeholder { 
    color:    white;
}
#mobile-search-query:-moz-placeholder {
    color:    white;
}
#mobile-search-query::-moz-placeholder {
    color:    white;
}
#mobile-search-query:-ms-input-placeholder {
    color:    white;
}


#mobile-search-filters {
    position: fixed;
    right: 0;
    top: 2.8rem;
    display:none;
    width: 11rem;
    margin-right: 4.1rem;
    background: #0066cc;
    padding: .5rem 0 .5rem 0;
    font-size: .8rem;
    color: white;
    z-index: 102;

    li { 
	list-style-type:none;
	padding: .25rem 0 .25rem 1.5rem;

	&:hover {
	    background-color:  #007fff;
	    cursor:pointer;
	}
	@media only screen and (max-width: 360px) {
	    padding-left: 1.4rem;
	}
    }
    .filterhead {
	padding: 0 0 .5rem 1rem;
	font-style:italic;
	font-size: .8rem;
    }

    @media only screen and (max-width: 360px) {
	margin-right: 0;
	left: -1.2rem;
    }

}