ul.navigation {
    /*base is wrench - fi-french.width() == 14*/
    .fi-music, .fi-sound, .fi-plus, .fi-music { margin-right: 1px }
    .fi-list-thumbnails, .fi-like, .fi-torso { margin-right: 3px }
    .route { background-color: #007FDB }

    #search-form {
	&:hover {
	    background-color: #007fff;
	}
    }

    i.fi-magnifying-glass {
	padding-left: 1.1rem;
    }

    #search-query {
	float: left;
	width: 100%;
	height: 41px;
	margin-top: -2rem;
	background: #0066cc;
	padding: 0;
	padding-left:3.1rem;
	border: none;

	font-size: 16px;
	font-weight: 300;
	font-family: 'lato';

	&:hover {
	    background-color: #007fff;
	}

	&:focus {
	    outline:none;	    
	}
    }


    li#search {
	padding: .5rem 0;
	color:#fff;
	font-size: 16px;
	&:hover {
	    background:#007fff;
	}

	@media #{$small-only} {
	    display:none;
	}
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
	color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #fff;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #fff;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #fff;
    }
}

/*
 *mobile search bar
 */
#mobile-search-form {
    float:right;
    width: 80px;
    min-width: 80px;
    i {
	float:right;
	margin-top: -1.6rem;
	margin-right: -.5rem;
	color: black;
	font-size: 1rem;
    }
    margin-right: 1rem;

    @media only screen and (max-width: 360px) { 
	float:left;
	margin-right: 0;
    }

    @media #{$medium-up} {
	display:none;
    }
}

#mobile-search-query {
    float:right;
    width: 11rem;
    font-size: 1rem;
    font-family: 'lato';
    margin-top: .4rem;
    padding: 4px;
}

