@import "playlists/modal";
@import "playlists/show";
@import "playlists/dropdown";

/*
 *playlist#index: wrappers and positioning
 */

.playlist-wrap {
    font-family: 'lato', 'helvetica neue', 'georgia', 'open-sans';
    margin-top: 1rem;
    @media #{$medium-up} {
	margin-left: 1.5rem;
    }
}

/*header icon positions*/
.options-wrap {
   margin-top: -.25rem;
   margin-bottom: .5rem;

   @media #{$medium-up} {
       font-size: 14px;
   }

   a { 
       margin-right: 2rem;
       @media #{$medium-up} {
	   margin-right: 4rem;
       }
   }
}

/*header icons (add/edit/delete playlist)*/
i.add-playlist, i.edit-playlist, i.delete-playlist {

    font-size: 12px;
    font-style: normal;
    color: #a2a2a2;
 
    span {
	padding-left: .25rem;
    }

    &:hover {
	color: #3498db;	
    }
}


/*playlist index show*/
.playlist-wrap {
    .playlist {
	margin-top:1rem;
	margin-bottom: 1.5rem;
    }

    .playlist-name {
	font-size: 1.6875rem;
	a { 
	    color: #222222; 
	    &:hover {
		color: #3498db;
	    }
	}
    }
}

/*playlist inner wrap*/
.playlist-inner-wrap {
    @media #{$medium-up} {
	hr.playlist { margin-left: -1.5rem;} 
    }
}

.playlist-meta {
    @media #{$medium-up} {
	float:left;
	width: 25%;
    }
}

.playlist-tracks-preview {

    table { 
	margin-top: 1rem;
	width: 100%;
	border: none;
    }
    th, td { 
	font-size: 14px;
	line-height: 1rem;
	width: 50%;
	padding:.5rem .625rem;
    }

    @media #{$medium-up} {
	margin-left: 25%;

	table { 
	    margin-top: 0rem;
	    padding-top:.85rem;
	}
    }
    
    .playlist-see-more {
	text-align:center;
	font-size: .75rem;
	a { color: #222222;
	    &:hover {
		color: #008cba;
	    }
	  }
    }
}


/*playist index show icons*/
.playlist-controls {
    margin-top:1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;

    @media #{$medium-up} {
	margin-bottom: 2rem;
    }

    i {
	font-size: 14px;
	font-style: normal;
	padding-right: 1.5rem;
	color: #a2a2a2;
    }

    span {
	font-style: normal;
	padding-left: .5rem;
    }
}

.playlist-genres {
    clear:both;
    .genre {
	margin-top: 1rem;
    }
    a { 
	color: #a2a2a2; 
	&:hover {
	    color: #0078a0;
	}
    }

}

.playlist-description {
    clear:both;
    padding-top:1rem;
}
