/*Player wrap*/
$ytplayer-width: 266.7px;
$ytplayer-height: 200px;


#player {
    position: fixed;
    width: 100%;
    height: 4rem;
    bottom:0;
    z-index:100;

    background-color: #ecf0f1;//#7f8c8d;
    //border-top: 1px solid #bdc3c7;
    width: 100%;
    display:none;
}

/*Progressbar*/
.progress{
    position:relative;
    width: 100%;
    height: .5rem;

    background: #bdc3c7;
    padding: 0;
    margin:0;
    border: none;
    cursor:pointer;
/*
    @media #{$small-only} {
	height: 1rem;
    }
*/
    /*filled component*/
    .meter {
	width: 0;
    }

    .handle { 
	position:absolute;
	margin-top: -5px;
	width: 18px;
	height: 18px;
	background:#3498db;
	border-radius: 9px;

/*
	@media #{$small-only} {
	    width: 36px;
	    height: 36px;
	    border-radius: 18px;
	    margin-top:-10px;
	    
	}
*/	
    }
}


#player-controls {
    float:left;
    width: $sidebar-width;
    height:100%;
    padding: .25rem 0 0 1.25rem;
    border-right: 1px solid #dbdbda;
    
    .control {
	float:left;
	display:inline;
	margin-top: .7rem;
	font-size: 1.5rem;
	//color: #a2a2a2;
	color: #191818;
	cursor:pointer;
	&:hover {
	    color: #3498db;
	}
    }

    #play-play, #play-pause {
	padding: 0 1.1rem;
	font-size: 2.75rem;
	margin-top:0;
    }
   
    /*play/pause icon size diff*/
    .fi-pause {
	padding-right: 4px;
    }
}
/*meta info & slider*/
#player-track-meta {
    margin-left: $sidebar-width;
    padding-left: 1rem;
    height:100%;

    @media #{$medium-up} {
	padding-left: 2.75rem;
    }
}



#player-track-meta { 

    #track-info {
	float:left;
	width:100%;
	padding: .5rem 1rem .25rem 0;
	font-family: 'lato', 'helvetica neue';
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;

	@media #{$medium-up} {
	    font-size: 16px;
	    padding-top: .5rem;
	    padding-bottom: .1rem;
	}
    }

    i, #track-time {
	float:left;
	font-size: .8rem;
	font-style:normal;
	padding-top: .1rem;
	margin-top:.25rem;
	font-size: 12px;
    }
    i { 
	cursor:pointer;
	&:hover {
	    color: #3498db;
	}
    }
    span {
	padding-left: .25rem;
	padding-right: 1.25rem;
	font-size: 12px;
    }

    #track-time {
	font-size: 10px;
	padding-top: .2rem;
	@media screen and (max-width: 400px) {
	    display:none;
	}
	#elapsed, #duration {
	    font-size: 10px;
	    padding-right: 0;
	    padding-left:0;
	}
    }
}




/*ytplayer*/

#ytquit {
    $buffer: 20px;

    position: absolute;
    bottom: 4rem;
    width: $ytplayer-width + $buffer;
    height: $ytplayer-height;
    color: #a2a2a2;
    background: black;
    padding: 6px;
    right: 0;
    display:none;

    i {
	cursor:pointer;
    }
}

#ytplayer {
    width: $ytplayer-width;
    height: $ytplayer-height;
    position: absolute;
    bottom: 4rem;    
    right: 0;
    left: -999rem;  /*off screen*/
    z-index:100;
}