#player {
    position: fixed;
    width: 100%;
    height: 4rem;
    bottom:0;
    z-index:10;

    background-color: #7f8c8d;
    width: 100%;
}

#controls {
    float:left;
    margin-left: 20%;
    #play-prev, #play-next {
	margin-top:-0.4rem;
    }

    font-size: 50px;
    .fi-previous, .fi-next {
	font-size: 30px;
    }
}

.control {
    float:right;
    padding-top: .5rem;
}
#play-play {
    margin: 0 1rem;
    width: 27px;
    text-align:center;
}

@media #{$small-only} {
    #controls {
	margin:0;
	width: 40%;
    }
    #track-meta {
	display:none;
    }
}

/*meta info & slider*/
#track-meta {
    float:left;
    width: 50%;
    margin-left: 4rem;
}

#track-info {
    margin-top: .75rem;
    margin-left: 3rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height: 20px;
}
#track-position {
    margin-top: .5rem;
}

#track-starttime, #track-endtime {
    float:left;
    margin: 0 10px;
}
#track-timeslider{
    float:left;
    width: 60%;
    height: 10px;
    border: 1px solid black;
}
#track-timeslid {
    
}

/*ytplayer*/
#ytplayer {
    width: 267px;
    height: 200px;
    position: absolute;
    bottom: 4rem;    
    right: 0;
    opacity: 1;
}