@import "playlists/modal";
@import "playlists/show";

/*
 *playlist#index: wrappers and positioning
 */

.playlist-wrap {
    font-family: 'lato', 'helvetica neue', 'georgia', 'open-sans';
    margin-top: 1rem;
    @media #{$medium-up} {
	margin-left: 1.5rem;
    }
}

/*header icon positions*/
.options-wrap {
   margin-top: -.25rem;
   margin-bottom: .5rem;

   @media #{$medium-up} {
       font-size: 14px;
   }

   a { 
       padding-right: 2rem;
       @media #{$medium-up} {
	   padding-right: 4rem;
       }
   }
}

/*header icons (add/edit/delete playlist)*/
i.add-playlist, i.edit-playlist, i.delete-playlist {

    font-size: 12px;
    font-style: normal;
    color: #a2a2a2;
 
    span {
	padding-left: .25rem;
    }

    &:hover {
	color: #3498db;	
    }
}


/*playlist index show*/
.playlist {
    margin-bottom: 1.5rem;
}

.playlist-name {
    font-size: 1.6875rem;
    a { 
	color: #222222; 
	&:hover {
	    color: #3498db;
	}
    }
}

/*playist index show icons*/
.playlist-controls {
    margin-top:.5rem;
    padding-right: 1rem;

    i {
	font-size: 14px;
	font-style: normal;
	//cursor:pointer;
	padding-right: 1.5rem;
	color: #a2a2a2;
	
	&:hover {
	    //color: #3498db;
	}

    }

    span {
	font-style: normal;
	padding-left: .5rem;
    }
}

.playlist-description {
    margin-top: .5rem;
}
