.playlist-wrap {
    font-family: 'lato', 'helvetica neue', 'georgia', 'open-sans';
    margin-top: 1rem;
    @media #{$medium-up} {
	margin-left: 1.5rem;
    }
}

.options-wrap {
   float: right;
   margin-top: -1.75rem; 

   @media #{$medium-up} {
       font-size: 14px;
       //margin-left: 14rem;
       margin-top: -2.1rem;
   }

}

i.add-playlist, i.edit-playlist, i.delete-playlist {
 
//    float:left;
//    margin-left: 10rem;

    font-size: 12px;
    font-style: normal;
    color: #a2a2a2;
 
    span {
	padding-left: .25rem;
    }

    &:hover {
	color: #3498db;	
    }
}



.playlist {
    margin-bottom: 1.5rem;
}

.playlist-name {
    font-size: 1.6875rem;
    a { 
	color: #222222; 
	&:hover {
	    color: #3498db;
	}
    }
}

.playlist-controls {
    margin-top:.5rem;
    padding-right: 1rem;

    i {
	font-size: 14px;
	font-style: normal;
	cursor:pointer;
	padding-right: 1.5rem;
	color: #a2a2a2;
	
	&:hover {
	    color: #3498db;
	}

    }

    span {
	font-style: normal;
	padding-left: .5rem;
    }
}

.playlist-description {
    margin-top: .5rem;
}
