/*search stylings*/

#search-title {
    float:left;
    width: 100%;
    margin-bottom: 0rem;
}

#noresults {
    margin-top: 1rem;

    @media #{$medium-up} {
	padding-left: 1.5rem;
    }
}

#search-wrap {
    float:left;
    display:none;

    @media #{$medium-up} {
	display:block;
    }


    #search-form-page {
	padding-bottom: .5rem;
	
	i {
	    color: black;
	    font-size: 1rem;
	    float: left;
	    margin: .5rem 0 0 -1.25rem;
	    cursor:pointer;
	}
    }

    #search-box {
	float:left;
	width: 22rem;
	font-size: .9rem;
	padding: 4px;
	font-family: 'lato', 'helvetica neue', 'georgia', 'open-sans';
    }

    #search-filters {
	font-family: 'lato', 'helvetica neue', 'georgia', 'open-sans';
	margin: 2rem 0 1rem 0;
	font-size: .9rem;

	.filter {
	    margin-left: 1.5rem;
	    display:inline;
	    cursor:pointer;
	    color: #a2a2a2;
	    &:hover {
		color: #0078a0;
	    }
	}
	.active {
	    color: #222222;
	}
    }
}
