.submit-wrap {
    margin-top: 2rem;

    @media #{$medium-up} {
	margin-left: 1.5rem;
	padding:0rem 4rem;
    }

    @media #{$large-up} {
	margin-left: 1.5rem;
	padding:0rem 10rem;
    }
    
    .addfooter {
	margin-top: 2rem;
    }

    #how-to {
	margin-top: 1rem;
    }
}