$image-size-large: 100px;
$image-size-default: 75px;

@import "tracks/track-info";
@import "tracks/track-artwork";
@import "tracks/track-controls";
@import "tracks/track-new";
@import "tracks/track-show";
@import "tracks/track-play-modal";

/* 
 *Track Wraps, basic layout
 */

.track-meta {
    padding-top: 1rem;
}

.track-artwork-wrap {

    /*Wrap for the album image*/
    float:left;

    @media #{$medium-up} {
	padding-left: 1.5rem;
    }
}

.track-info-wrap {

    /*Wrap artist, title, comments*/
    margin-left: 6rem;

    @media #{$medium-up} {
	margin-left: 8rem;
    }

    @media #{$large-up} {
	margin-left: 10rem;
    }
}


.track-controls-wrap {
    /*play from timestamp, full, add playlist, share */

    clear: both;
    width: 100%;
    padding-top: .5rem;
    @media #{$medium-up} {
	padding-left: 1.5rem;
    }
    margin-bottom: 2.25rem;
}


.addfooter {
    margin-top: 20rem;
    text-align:center;


    .installbuttons {
	margin-top: 2rem;
	a {
	    padding: 1rem;
	}
    }
}

.loading {
    text-align:center;
    margin-top: 3rem;
    p {
	font-family: 'lato', 'helvetica neue', 'georgia';
	margin-top: 1rem;
    }
}