
%nav
  %h6
    %a{:href => "#"} Logo
  %a.menu-icon{:href => "#"} 
    %span
    %span
    %span
  %ul
    %li#links
      %i.fi-music
      Tracks
    %li#playlist
      %i.fi-list-thumbnails
      Playlists
    %li#popular
      %i.fi-like
      Popular
    %li#new
      %i.fi-sound
      New
    %li#submit
      %i.fi-plus
      Submit
    %li#settings
      %i.fi-wrench
      Settings

#content

#player
  #controls
    #play-next.control
      %i.fi-next
    #play-play.control
      %i.fi-play
    #play-prev.control
      %i.fi-previous

  #track-meta
    #track-info
      Current Track and artist here
    #track-position
      #track-starttime
        0:10
      #track-timeslider
        #track-timeslid
          Test
      #track-endtime
        123:00
  #ytplayer