%nav
  .logo
    = image_tag("stereopaw-logo-main.png", :width => "30px", :height=> "50px")
    %a#home{:href => "#"}
      %h4 stereopaw
    
  %a.menu-icon{:href => "#"} 
    %span
      
  -# mobile topbar rendered from js NavigationView
    template /users/navbar_top.hamlc
  .navbar-top-wrap

  #navigation-wrap
    
#content-wrap
  <!--here be stuffs-->

  
#player
  #track-progressbar.progress
    %span.meter
      .slider
        .handle
            
  #player-controls
    #play-prev.control
      %i.fi-previous
    #play-play.control
      %i.fi-play
    #play-next.control
      %i.fi-next
    #volume.control
      %i.fi-volume
      #volume-meter
        #volume-slider
          
  #player-track-meta

    #track-info
      Current Track and artist here
      
    #track-control-wrap
      -#
        #track-add.control
          %i.fi-plus
            %span
              Add
        #track-share.control
          %i.fi-share
            %span
              Share
      
    #track-time
      %span#elapsed
      %span#duration

  #ytwrap
    #ytquit
      %i.fi-minus
    #ytplayer
    