#main
  #sidebar
    -# might want to have genres for popular/new
    %nav
      %ul
        %li#links
          My Links
        %li#playlist
          Playlists
        %li#popular
          Popular
        %li#new
          New
        %li#submit
          Submit
        %li#settings
          Settings

    #player

      
  #content
