%nav
  .logo
    %h6
      %img{src: "/assets/stereopaw-logo-main.png"}
      %a#home{:href => "#"}
        %h4 stereo paw
      
  %a.menu-icon{:href => "#"} 
    %span
    %span
    %span

  #navigation-wrap
    
#content-wrap
  <!--here be stuffs-->

  
#player
  #track-progressbar.progress
    %span.meter
      .slider
        .handle
            
  #player-controls
    #play-prev.control
      %i.fi-previous
    #play-play.control
      %i.fi-play
    #play-next.control
      %i.fi-next
       
      
  #player-track-meta

    #track-info
      Current Track and artist here
      
    #track-control-wrap
      #track-add.control
        %i.fi-plus
          %span
            Add
      #track-share.control
        %i.fi-share
          %span
            Share
      
    #track-time
      %span#elapsed 0:00
      %span#duration / 12:23:00

      
  #ytplayer