#track-show
  %header
    %h2
      = image_tag("stereopaw-logo-main.png", width: "21")
      stereo paw
    
  - if flash[:success]
    %div#message.alert-box.info    
      %h5 We've successfully added your track
    
  %hr

  = render "tracks/show", :track => @track, :track_age => @track.calculate_age
    
  #musicbutton
    %a{href: "/#", target: "_blank"}
      .button{name: "music"}
        Take me to the music        